<%- include('./partials/head.ejs') %>
<body>
  <div class="container mt-5">
  
     <form action="/items/<%= item._id %>?_method=PUT" method="post"> 
    <h2>Update Item information</h2>

    <div class="form-group mb-5">
      <label for="identifier" class="">ID</label>
      <input
        type="text"
        class="form-control"
        id="identifier"
        name="identifier"
        disabled
        value="<%= item._id %>"
      />

      <label for="name" class="">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        
        value="<%= item.name %>"
      />

      <label for="description" class="">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        
        value="<%= item.description %>"
      />
     
      
      <label for="price" class="">Price</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        
        value="<%= item.price %>"
      />
      
      <label for="quantity" class="">Quantity</label>
      <input
        type="text"
        class="form-control"
        id="quantity"
        name="quantity"
        
        value="<%= item.quantity %>"
      />
      
    
      
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/items" class="btn btn-secondary">Cancel</a>
  </div>
     </form>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
